@use '../abstracts' as *;

// BASE CONTAINER
.container {
  @include container;
}

// CONTENT CONTAINERS
// For list view, e. g. SERP or blog feed
.col-1\/1 {
  list-style: none;
  margin: 0 auto;
  width: min(100%, var(--width-readable));
}

.main {
  padding-top: var(--padding-top-base);

  @media (--tablet) {
    padding-top: var(--padding-top-lg);
  }
}

.main.col-1\/1 {
  padding-top: var(--padding-top-lg);

  @media (--tablet) {
    padding-top: var(--padding-top-xl);
  }
}
