@use '../abstracts' as *;

// BASE CONTAINER
.container {
  @include container;
}

// CONTENT CONTAINERS
// For list view, e. g. SERP or blog feed
.col-1\/1 {
  list-style: none;
  margin: 0 auto;
  width: min(100%, var(--width-readable));
}

.main {
  padding-top: var(--spacer);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
  margin-block: var(--spacer);
}
