// stylelint-disable selector-no-qualifying-type

@use 'sass:math';
@use '../../styles/abstracts' as *;


/*
STATIC WEB FONTS

CONTENT
  .link.is-expanded is block link with a pseudo element
  Hang leading braces and quotes into the left margin
  Internationalization
  Inline text elements: mark, s (strikethrough), abbr, del, ins
  Ordered list w/o grids but w/ colored numbers and parentheses

GRAPHICS AND MEDIA
  .icon-badge is color shape using as an icon background
  Image masking
  Video background

LAYOUT
  CSS Grid on body and fixed navbar
  Implicit grid for up to 4 images
  Masonry grid
  CSS columns
  CSS Grid transition
  Flex item width calculation
  A flexbox trick to improve text wrapping

MISC
  Accessible toggle button
*/

// STATIC WEBFONT
// #region

/* Include web fonts in the build styles in the first place, in front of the :root
and the rest.

A font name is the same for normal, bold etc. But font weight is different:
400, 600 etc

Older standard .WOFF files are needed only for IE support. I.e. are not needed */

@font-face {
  font-display: swap;
  font-family: 'Font Name';
  font-style: normal;
  font-weight: 600;
  src: url('/src/assets/fonts/font-name-semibold.woff2') format('woff2');
}
// #endregion

// DOC
// #region
/* body, */
%page {
  /* Use flex to distribute blocks across the entire height of the screen
  setting central area flex-growth to 1. */
  // stylelint-disable-next-line declaration-block-no-duplicate-properties
  display: flex;
  flex-direction: column;

  // The same can be done with CSS grid
  display: grid;
  /* The first `auto` is for header. `1fr` is for `main`. And the last one
  is for footer */
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
// #endregion

// CONTENT
// #region
.link.is-expanded {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

// Hang leading braces and quotes into the left margin
// #region

/* TODO: try to realized the technique with the :before pseudo element.

It can be applied to:
laquo — «
bdquo — „
brace — {
ldquo — “
lsquo — ‘

Using
This is <span class="hp-space"> </span><span class="hp-quote">„</span>Magic */

.main__header h1 {
  // Right margin for quote predecessor to compensate negative one in line
  .hp-space {
    margin-right: var(--size-1p5);

    @media (--tablet) {
      margin-right: rem(19);
    }
  }

  // Left negative margin for quote
  .hp-quote {
    margin-left: calc(var(--size-1p5) * -1);

    @media (--tablet) {
      margin-left: -1 * rem(19);
    }
  }
}
// #endregion

// Internationalization
// #region

// stylelint-disable rule-empty-line-before, declaration-block-single-line-max-declarations, declaration-block-semicolon-newline-after, selector-list-comma-newline-after, font-family-no-missing-generic-family-keyword
:lang(af) {
  quotes: '\201e''\201d''\201a''\2019';
}
:lang(ak) {
  font-family: Lucida, 'DejaVu Sans', inherit;
}
:lang(ar) {
  font-family: 'Tahoma 12', Nazli, KacstOne, 'DejaVu Sans', inherit;
}
:lang(bg) {
  quotes: '\201e''\201c''\201a''\2018';
}
:lang(bn) {
  font-family: FreeSans, MuktiNarrow, Vrinda, inherit;
  font-size: 1.1em;
  line-height: 1.4em;
}
:lang(cs) {
  quotes: '\201e''\201c''\201a''\2018';
}
:lang(da) {
  quotes: '\00bb''\00ab''\203a''\2039';
}
:lang(de) {
  quotes: '\201e''\201c''\201a''\2018';
}
:lang(el) {
  font-family: 'DejaVu Sans', inherit;
  quotes: '\00ab''\00bb''\2039''\203a';
}
:lang(en-GB) {
  quotes: '\2018''\2019''\201c''\201d';
}
:lang(es) {
  quotes: '\00ab''\00bb''\2039''\203a';
}
:lang(fa) {
  font-family: Terafik, Traffic, Roya, Nazli, Nazanin, sans;
  font-size: 1.5em;
}
:lang(fi) {
  quotes: '\201d''\201d''\2019''\2019';
}
:lang(fr) {
  quotes: '\ab\2005''\2005\bb''\2039\2005''\2005\203a';
}
:lang(hr) {
  quotes: '\00bb''\00ab''\203a''\2039';
}
:lang(is) {
  quotes: '\201e''\201c''\201a''\2018';
}
:lang(ja) {
  font-size: 1.1em;
}
:lang(km) {
  font-family: 'Khmer OS System', 'Khmer OS', 'Khmer Kampongtrach', 'CDT Khmer',
    inherit;
  line-height: 2em;
}
:lang(ko) {
  font-size: 1.1em;
}
:lang(lt) {
  quotes: '\201e''\201c''\201a''\2018';
}
:lang(nl) {
  quotes: '\201e''\201d''\201a''\2019';
}
:lang(pl) {
  quotes: '\201e''\201d''\201a''\2019';
}
:lang(ro) {
  quotes: '\201e''\201c''\201a''\2018';
}
:lang(sk) {
  quotes: '\201e''\201c''\201a''\2018';
}
:lang(sq) {
  quotes: '\00ab''\00bb''\2039''\203a';
}
:lang(sr) {
  quotes: '\201e''\201c''\201a''\2018';
}
:lang(sv) {
  quotes: '\201d''\201d''\2019''\2019';
}
:lang(tr) {
  quotes: '\00ab''\00bb''\2039''\203a';
}
:lang(vi) {
  font-family: 'Lucida Grande', 'Vu Phu Tho', 'DejaVu Sans', inherit;
}
:lang(vi) a:hover,
:lang(vi) a:active {
  text-decoration: none;
  color: var(--color-brand-text);
}
:lang(zh) {
  font-size: 1.5em;
}
// stylelint-enable rule-empty-line-before, declaration-block-single-line-max-declarations, declaration-block-semicolon-newline-after, selector-list-comma-newline-after, font-family-no-missing-generic-family-keyword

// Add fo _blockquote
:lang(be),
:lang(el),
:lang(es),
:lang(fr),
:lang(no),
:lang(pt),
:lang(uk) {
  blockquote p:first-child::before,
  q::before {
    content: '«';
  }

  blockquote p:last-of-type::after,
  q::after {
    content: '»';
  }
}
// #endregion

// Inline text elements
// #region

abbr[title] {
  border-bottom: 1px dotted currentColor;
  cursor: help;
  text-decoration: none;
}

del {
  color: var(--color-ink-3ry);
  text-decoration: line-through;
}

ins {
  color: var(--color-success-text);
  text-decoration: none;
}

mark {
  @include text-inline-block();

  background-color: var(--color-brand-bg);
  border-radius: var(--border-radius-xs);
  color: var(--color-brand-text);
}

s {
  text-decoration: line-through;
}
// #endregion

// OLs with parentheses
// #region
ol {
  counter-reset: item-counter;
  list-style: none;

  li {
    position: relative;
    padding-left: var(--size-3);

    &::before {
      color: var(--color-ink-2ry);
      content: counter(item-counter) ')';
      counter-increment: item-counter;
      position: absolute;
      left: 0;
    }
  }
}
// #endregion
// #endregion

// GRAPHICS AND MEDIA
// #region

// Icon badge
// #region
.icon-badge {
  background-color: var(--color-brand-primary);
  border-radius: var(--border-radius-pill);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  width: var(--size-8);
  height: var(--size-8);
}

.icon-badge > .icon {
  --icon-stroke: var(--color-ink-inverse-base);
  --icon-fill: transparent;
}
// #endregion

// Image masking
// #region
.img.has-mask {
  object-fit: cover;
}

// With bitmap

.img.has-mask.is-star {
  mask-image: url('/a/img/star.png');
  mask-size: cover;
}

/* With SVG

Add svg graphics on the page with image. Add <mask> element inside the SVG
with ID
svg(width='0', height='0', viewbox='0 0 400 300')
  defs
    mask#mask
      rect(fill='#000000', x='0', y='0', width='400', height='300')
      circle(fill='#FFFFFF', cx='150', cy='150', r='100')
      circle(fill='#FFFFFF', cx='50', cy='50', r='150')

img.img-mask.is-cloud(src='/a/img/balloons.jpg', alt='')
*/

.img.has-mask.is-cloud {
  mask-image: url('#mask');
}
// #endregion

// Video background
// #region

/* Markup
video.video.is-bg(autoplay, muted, loop, playsinline)
  source(data-src='/path/to/video.mp4', type='video/mp4')

To prevent download video on mobiles use base/content/content.js and data-src
instead of source src attribute
*/

.video.is-bg {
  filter: brightness(50%);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
// #endregion

// Colorizing SVG Backgrounds
// #region

/* Use [this service](https://codepen.io/sosuke/embed/Pjoqqp) to turn black SVG
backgrounds to target color */

.colorized.is-red {
  filter: invert(21%) sepia(98%) saturate(7041%) hue-rotate(358deg)
    brightness(106%) contrast(117%);
}

.colorized.is-blue {
  filter: invert(51%) sepia(85%) saturate(5357%) hue-rotate(195deg)
    brightness(98%) contrast(111%);
}

.colorized.is-green {
  filter: invert(35%) sepia(83%) saturate(2042%) hue-rotate(93deg)
    brightness(97%) contrast(108%);
}
// #endregion

// #endregion

// LAYOUT
// #region

// CSS Grid on body and fixed navbar
@media (--tablet-l) {
  .sidebar {
    grid-column: sb;
  }
}

/* Implicit grid for up to 4 images

.grid.is-feed-mosaic
  img(src='', alt='')
  img(src='', alt='')
  img(src='', alt='')
  img(src='', alt='')
*/

.grid.is-feed-mosaic {
  display: grid;
  grid-gap: 10px;
}

.grid.is-feed-mosaic :nth-child(4) {
  grid-column-start: 2;
}

.grid.is-feed-mosaic :nth-child(3):last-child {
  grid-column-start: span 2;
}

.grid.is-feed-mosaic > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// MASONRY
.grid.is-masonry {
  grid-template-columns: repeat(auto-fill, minmax(var(--size-2), 1fr));
  grid-template-rows: masonry;
}

.grid.is-masonry > * {
  break-inside: avoid-column;
}

// CSS COLUMNS
.columns.is-md-2 {
  @media (--tablet) {
    columns: 2;
    column-gap: var(--gap-base);
  }
}

.columns.is-lg-3 {
  @media (--tablet-l) {
    columns: 3;
  }
}

// CSS Grid transition
.avatars {
  display: grid;
  gap: var(--size-1);
  grid-auto-flow: column;
  // The cells are narrower than avatars, and pictures are overlaped each other
  grid-template-columns: repeat(4, var(--size-2p5));
  transition: all var(--duration-xs) var(--easing-base);
}

.avatars:hover {
  grid-template-columns: repeat(4, var(--size-5));
}

// Flex item width calculation
.flex {
  --items: 3;
  --gap: var(--size-2);

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @media (--tablet) {
    --gap: var(--size-4);

    flex-direction: row;
    flex-wrap: wrap;
  }
}

.flex__item {
  @media (--tablet) {
    // one third excluding two gaps
    width: calc(
      100% / var(--items) - var(--gap) * (var(--items) - 1) / var(--items)
    );
  }

  @media (--laptop) {
    // 25% minus gaps for 4-items rows
    --items: 4;
  }
}

// A flexbox trick to improve text wrapping
// To prevent the text in a button or any other flex container child from wrapping,
// but instead wrap the element itself, we should add the min-width: fit-content;
/* stylelint-disable-next-line no-duplicate-selectors */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.button,
.d-flex__item {
  flex: 1;
  min-width: fit-content;
}

// #endregion

// MISC
// #region

/* ACCESSIBLE TOGGLE BUTTON
https://material.io/components/buttons#toggle-button

MARKUP AND SCRIPTING

This button is NOT active
button.button.is-fave(aria-label='Favorite', aria-pressed='false') ❤

This button IS
button.fave(aria-label='Favorite', aria-pressed='true') ❤

Change the attribute value using the setAttribute() method.
btn.setAttribute('aria-pressed', true);
btn.setAttribute('aria-pressed', false);
*/

.btn.is-toggle[aria-pressed='true'] {
  color: var(--color-brand-text);
}
// #endregion
