@use 'sass:math';
@use '../../styles/abstracts' as *;

/*
Sidebar Global Nav: Rearrange base layout template areas
Hero: Creating a duotone image background with CSS blend modes
Sections: Elements (header, summary) and modifiers (highlight and full-bleed)
Pricing Table
Alt Containers
Responsive card: fit image height to text block height
*/

/* -----------------------------------------------------------------------------
 * SIDEBAR GLOBAL NAV
 * -------------------------------------------------------------------------- */
// #region
@media (--tablet) {
  @if $enable-sidebar-global-nav {
    body {
      display: grid;
      // rows / columns
      grid-template: auto 1fr auto / var(--width-navbar) 1fr;
      /*
      hd - header
      mn - main
      ft - footer
      .. - empty area for fixed navbar */
      grid-template-areas:
        '.. hd'
        '.. mn'
        '.. ft';
    }

    .header {
      grid-area: hd;
    }

    .main {
      grid-area: mn;
    }

    .footer {
      grid-area: ft;
    }
  }
}

@media (--tablet-l) {
  @if $enable-sidebar-global-nav {
    body {
      grid-template: var(--size-1p5) 1fr auto / var(--width-navbar) 1fr var(--size-half);
      // sb - sidebar
      grid-template-areas:
        '.. hd hd'
        '.. mn sb'
        '.. ft ft';
    }
  }
}

/* -----------------------------------------------------------------------------
 * HERO
 * -------------------------------------------------------------------------- */
// #region

.hero {
  background-color: var(--color-brand-bg-dark);
  background-image: linear-gradient(
      var(--color-brand-scrim),
      var(--color-brand-scrim)
    ),
    linear-gradient(var(--color-brand-scrim), var(--color-brand-scrim)),
    url('https://unsplash.it/1024/768');
  background-blend-mode: normal, color, normal;
  background-position: center center;
  background-repeat: repeat, repeat, no-repeat;
  color: var(--color-ink-inverse-base);
  text-align: center;
  padding: 0 var(--padding-x-container);

  @media (--tablet-l) {
    background-image: linear-gradient(
        var(--color-brand-scrim),
        var(--color-brand-scrim)
      ),
      linear-gradient(var(--color-brand-scrim), var(--color-brand-scrim)),
      url('https://unsplash.it/1920/1080');
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * SECTIONS
 * -------------------------------------------------------------------------- */
// #region

// SECTION ELEMENTS

// Heading + extra stuff
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__heading {
  @include text-format(subhead-lg);
  margin: 0;
}

.section__summary {
  @include text-format(body-lg);
  margin: 0;
}

// VARIATIONS

.section.is-alt {
  background-color: var(--color-bg-2ry);
}

.section.is-above-the-fold {
  content-visibility: visible;
}

// Highlight

.section.is-highlight {
  background-color: var(--color-brand-bg-dark);

  h2,
  p {
    color: var(--color-ink-inverse-base);
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * PRICING TABLE
 * -------------------------------------------------------------------------- */
// #region

$plan-border-radius: var(--border-radius-base);
$plan-padding-x: var(--size-line);
$plan-header-padding-top: var(--size-2);
$plan-header-padding-bottom: var(--size-2);
$plan-size-radio: var(--size-2p5);

.grid.is-plans {
  @include container;
  margin-bottom: var(--size-line);
  padding: 0;

  @media (--phone) {
    grid-template-columns: 1fr;
  }

  @media (--tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.plan {
  background-color: var(--color-bg-base);
  border-radius: $plan-border-radius;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: box-shadow var(--duration-xs) var(--easing-base);

  &:hover {
    box-shadow: var(--box-shadow-level-02);
  }

  &:has(input:checked) {
    box-shadow: 0 0 0 var(--size-half) var(--color-success-base);
  }

  &:has(input:checked):has(.plan__radio:focus-visible) {
    box-shadow: 0 0 0 var(--size-1) var(--color-success-base);
  }
}

// label
.plan__radio {
  > input {
    position: absolute;
    top: $plan-header-padding-top;
    right: $plan-padding-x;
    width: $plan-size-radio;
    height: $plan-size-radio;
  }

  &::after {
    border-radius: $plan-border-radius;
    content: '';
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:focus-visible::after {
    @include state-focus;
  }
}

// header
.plan__header {
  background: var(--color-brand-bg-dark);
  border-radius: $plan-border-radius $plan-border-radius 0 0;
  padding: $plan-header-padding-top $plan-padding-x $plan-header-padding-bottom;
}

/* h2-h4 */
.plan__type {
  @include text-format(body-lg);

  color: var(--color-ink-inverse-base);
  margin-bottom: calc(var(--size-1) * -1);
}

.plan__price {
  @include text-format(title);
  color: var(--color-ink-inverse-max);
}

.plan__price small {
  color: var(--color-ink-inverse-base);
  font-size: initial;
  font-weight: 400;
  line-height: normal;
  vertical-align: baseline;
}

.plan__price abbr {
  margin-left: 1ch;
}

.plan__summary {
  list-style: none;
  padding-right: $plan-padding-x;
  padding-left: $plan-padding-x;
  padding-inline: $plan-padding-x;
}
// #endregion

/* -----------------------------------------------------------------------------
 * ALT CONTAINERS
 * -------------------------------------------------------------------------- */
// #region
/* .container, */
%container {
  --container-width: var(--width-container);
  --container-margin: var(--size-5);

  margin-inline: auto;
  width: min(var(--container-width), calc(100% - var(--container-margin)));

  @media (--tablet) {
    --container-margin: calc(var(--size-5) * 2);
  }
}

/* .row, */
%row {
  display: flex;
}

/* .rows, */
%rows {
  display: flex;
  flex-wrap: wrap;
}

/* .col, */
%col {
  display: flex;
  flex-direction: column;
}
// #endregion

/* -----------------------------------------------------------------------------
 * RESPONSIVE CARD
 * -------------------------------------------------------------------------- */
// #region
// Markup — src/stock/docs/ru/responsive-card.ru.md

.card.tablet\:is-landscape {
  --gap: var(--size-line);

  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr;

  @media (--tablet) {
    align-items: stretch;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

:where(.card.tablet\:is-landscape) .col.has-image {
  @media (--tablet) {
    // The image column occupies 5 columns span by default
    grid-column: span 5;
  }

  @media (--tablet-l) {
    grid-column: span 4;
  }

  @media (--laptop) {
    grid-column: span 3;
  }
}

:where(.card.tablet\:is-landscape) .col.has-copy {
  @media (--tablet) {
    // The copy column occupies 7 columns span by default
    grid-column: span 7;
  }

  @media (--tablet-l) {
    grid-column: span 8;
  }

  @media (--laptop) {
    grid-column: span 9;
  }
}

.card.tablet\:is-landscape img {
  @media (--tablet) {
    aspect-ratio: auto;
    object-fit: cover;
    object-position: top left;
    width: 100%;
    height: 100%;
  }
}
// #endregion
