// stylelint-disable selector-no-qualifying-type, declaration-no-important

@use 'sass:math';
@use '../../styles/abstracts' as *;

/*
Bullet for non list items
Reset element
Section or widget level reset and scope
media queries
*/

/* -----------------------------------------------------------------------------
 * BULLET FOR NON LIST ITEMS
 * -------------------------------------------------------------------------- */
// #region

.has-middle-dot {
  &::before {
    color: var(--color-brand-primary);
    content: ' \00b7';
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * RESET
 * -------------------------------------------------------------------------- */
// #region

.reset {
  box-sizing: border-box !important;
  border: 0 !important;
  float: none !important;
  font-size: 100% !important;
  line-height: auto !important;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: static !important;
  vertical-align: baseline !important;
  width: auto !important;
  height: auto !important;
}
// #endregion

/* -----------------------------------------------------------------------------
 * SECTION OR WIDGET LEVEL RESET AND SCOPE
 * -------------------------------------------------------------------------- */
// #region

.my-widget {
  // Client style overrides
  all: initial;

  :where(*:not(svg, svg *), use) {
    all: revert;
  }

  // My widget styles
  .btn {
    color: var(--color-ink-inverse-base);
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * SECTION OR WIDGET LEVEL RESET AND SCOPE
 * -------------------------------------------------------------------------- */
// #region

@media (any-hover: hover) and (pointer: fine) {
  /* Behavior for PCs and other devices that support hovering. E.g. reveal
  the button only on hover */
  .message .btn.is-more {
    opacity: 0;
  }

  .message:hover .btn.is-more {
    opacity: 1;
  }
}

@media (any-hover: none) and (pointer: coarse) {
  // Touchscreen only E.g. show the button all the time
  .message .btn.is-more {
    opacity: 1;
  }
}
// #endregion
