// stylelint-disable selector-no-qualifying-type, selector-class-pattern
@use '../../styles/abstracts' as *;

/* -----------------------------------------------------------------------------
 * GENERAL
 * -------------------------------------------------------------------------- */
// #region

.screen-reader-text {
  @include visually-hidden;
}

.form__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.u-columns {
  @media (--tablet) {
    display: grid;
    gap: var(--size-4);
    grid-template-columns: repeat(var(--columns, 2), 1fr);

    > * {
      min-width: 0; // HACK for childs in overflow
    }
  }

  @media (--tablet-l) {
    gap: var(--size-5);
  }
}

.u-column2.is-sign-up {
  order: -1;
}
// #endregion

/* -----------------------------------------------------------------------------
 * CART
 * -------------------------------------------------------------------------- */
// #region

// RESPONSIVE SHOP TABLES
.cart thead {
  th {
    border-top: 0;
  }

  @media (--phone) {
    display: none;
  }
}

.cart {
  td,
  th {
    vertical-align: middle;

    @media (--phone) {
      border-top: 0;
      display: block;
      text-align: right;
      padding-right: var(--padding-x-cell);
    }
  }

  [scope='row'] {
    font-weight: 400;
  }
}

.cart td:first-child:not(.product-remove),
.cart th:first-child:not(.product-remove) {
  @media (--phone) {
    margin-top: var(--size-line);
    padding-top: var(--size-line);
  }
}

.cart img {
  max-width: 80px;
}

.cart__row {
  @media (--tablet) {
    display: flex;
  }
}

// QUANTITY

.quantity input {
  margin-left: auto;

  @media (--tablet) {
    margin: auto;
    text-align: center;
  }
}

// WooCommerce Ajax Cart Widget

.wac-quantity {
  @media (--tablet) {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}

.wac-qty-button {
  display: none;

  @media (--tablet) {
    border-radius: var(--border-radius-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: var(--color-ink-2ry);
    padding: var(--size-1);
    transition: background-color var(--duration-xxs);
    width: var(--size-4);

    &:hover {
      background-color: var(--color-ink-min);
      text-decoration: none;
    }
  }
}

.wac-quantity input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  // stylelint-disable property-no-vendor-prefix
  [type='number'] {
    -moz-appearance: textfield;
  }
  // stylelint-enable property-no-vendor-prefix

  @media (--tablet) {
    margin: 02px;
  }
}

// Remove button
.btn.is-remove {
  background-color: transparent;
  padding: 0;
  transition: background-color var(--duration-xxs);

  &:hover {
    background-color: var(--color-ink-min);
    box-shadow: none;
    transform: none;
  }

  @media (--tablet) {
    padding: 0 var(--size-1p5);
  }
}

// Coupon
.cart__coupon {
  display: flex;

  @media (--phone) {
    margin-bottom: var(--size-line);

    + .btn.is-ghost {
      margin-right: calc(var(--size-2) * -1);
    }
  }
}

// Last row with hidden inputs and mb buttons in special cases
.cart__actions {
  td {
    border: 0;
  }

  &:hover {
    background-color: rgb(0 0 0 / 0);
  }
}

.cart__coupon input {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: var(--size-1);
}

.actions .cart__row {
  justify-content: space-between;
}

// Proceed to checkout
.cart__forward-to-checkout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-right: var(--size-2);

  .btn {
    margin-left: var(--size-3);
  }
}

.cart__forward-to-checkout:not(.has-destination) {
  align-items: center;
  justify-content: flex-end;

  @media (--tablet) {
    padding-right: var(--size-1);
  }
}

.cart__forward-to-checkout.has-destination {
  flex-direction: column;
  align-items: flex-end;

  .cart-collaterals {
    margin-bottom: var(--size-line);
  }
}

// Shipping

.cart-collaterals {
  text-align: right;
  max-width: 400px;
}

.woocommerce-shipping-methods {
  color: var(--color-ink-2ry);
  list-style: none;
  padding: 0;

  li {
    padding: 0;
  }

  label {
    all: inherit;
  }

  @media (--phone) {
    text-align: right;
  }
}

td > .woocommerce-shipping-methods {
  text-align: right;
  padding-right: var(--size-1);
}

// #endregion

/* -----------------------------------------------------------------------------
 * HEADER CART
 * -------------------------------------------------------------------------- */
// #region

/*
.site-header-cart {}

.site-header-cart .cart-contents {}

.site-header-cart .widget_shopping_cart {}

.site-header-cart .product_list_widget {}

@media (--tablet) {

  .site-header-cart .widget_shopping_cart {}

  .site-header-cart:hover .widget_shopping_cart,
  .site-header-cart.focus .widget_shopping_cart {}
}
*/

// #endregion

/* -----------------------------------------------------------------------------
 * CHECKOUT
 * -------------------------------------------------------------------------- */
// #region

// REVIEW ORDER

.table.is-checkout-review,
.table.is-checkout-review tbody,
.table.is-checkout-review tfoot,
.table.is-checkout-review tr,
.table.is-checkout-review td {
  @media (--phone) {
    display: block;
  }
}

.table.is-checkout-review thead th {
  border: 0;
  color: var(--color-ink-2ry);

  @media (--phone) {
    display: none;
  }
}

.table.is-checkout-review td,
.table.is-checkout-review tfoot th {
  vertical-align: middle;

  @media (--phone) {
    border-top: 0;
    padding-right: var(--padding-x-cell);
    text-align: right;
  }
}

.table.is-checkout-review .product-remove {
  @media (--tablet) {
    width: calc(var(--size-line) * 3);
  }
}

.table.is-checkout-review .order-total {
  @media (--phone) {
    display: flex;
    justify-content: flex-end;

    td:nth-child(3) {
      display: none;
    }
  }
}

.product-total {
  text-align: right;
}

.product-quantity {
  @media (--tablet) {
    text-align: center;
  }
}

.product-price,
.product-subtotal,
.order-total th,
.order-total td {
  text-align: right;
}

// THANK YOU PAGE
.order-review__summary tr:first-child {
  display: none;
}

/*
.woocommerce-checkout-review-order-table .cart-subtotal {
  display: none;
}

.woocommerce-checkout-review-order-table tr {
  position: relative;
}

.woocommerce-checkout-review-order-table .product-subtotal {
  @media (--tablet) {
    padding-right: calc(var(--size-line) * 2);
  }
}

.woocommerce-checkout-review-order-table .product-remove {
  border: 0;
  display: block;
  padding: 0;
  position: absolute;
  top: var(--size-4);
  width: var(--size-3);
  height: var(--size-3);

  a {
    visibility: hidden;
    position: relative;
  }

  a::after {
    content: '';
    background: var(--icon-x-mark) no-repeat 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    width: var(--size-3);
    height: var(--size-3);
  }

  @media (--tablet) {
    top: 50%;
    right: var(--size-1);
    transform: translateY(-15px);
  }
}

.order-total td:last-child {
  padding-right: var(--padding-x-cell);

  @media (--tablet) {
    padding-right: calc(var(--size-line) * 2);
    width: 1%;
  }
}
*/

// DELIVERY
[id='billing_first_name_field'],
[id='billing_last_name_field'] {
  @media (--tablet) {
    display: inline-block;
    width: calc(50% - var(--size-1));
  }
}

[id='billing_first_name_field'] {
  @media (--tablet) {
    margin-right: var(--size-half);
  }
}

[id='billing_postcode'] {
  @media (--tablet) {
    width: auto;
  }
}

[for='billing_country'] {
  padding-right: var(--size-1);
}

.woocommerce-additional-fields > h3 {
  display: none;
}

// Selects
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--single .select2-selection__rendered {
  background-color: #fff;
  background-image: none;
  border: 1px solid rgb(0 0 0 / .12);
  border-radius: var(--size-half);
  color: rgb(0 0 0 / .6);
  display: block;
  line-height: var(--line-height-base);
  margin: 0;
  overflow: visible;
  padding:
    var(--padding-y-input)
    var(--padding-x-input-lg)
    var(--padding-y-input)
    var(--padding-x-input);
  transition: border-color .124s cubic-bezier(.4, 0, .2, 1);
}

.select2-container--default .select2-selection--single {
  border: 0;
  border-radius: inherit;
}

.select2-container--default .select2-results__option[aria-selected='true'],
.select2-container--default .select2-results__option[data-selected='true'] {
  background-color: var(--color-bg-2ry);
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: var(--color-brand-bg-dark);
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
  border-color: var(--color-ink-border);
}

.select2-search--dropdown .select2-search__field {
  padding: var(--padding-y-input) var(--padding-x-input);
}

.select2-dropdown.select2-dropdown--below {
  margin-top: -23px;
}

.thwcfd-field-city,
.thwcfd-field-state,
[id='billing_city_field'],
[id='billing_state_field'] {
  margin-bottom: var(--size-4);
}

// Chevrons
.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: var(--icon-sm-chevron-down) no-repeat 50%;
  top: 50%;
  right: var(--size-1);
  width: var(--size-line);
  height: var(--size-line);
}

.select2-selection__arrow b {
  display: none;
}

// SUBMIT
.wc_payment_methods {
  list-style: none;
}

[for='payment_method_cod'] {
  display: none;
}

.payment_method_cod {
  font-weight: 500;
}

.woocommerce-terms-and-conditions-wrapper {
  color: var(--color-ink-2ry);
}

[id='place_order'] {
  @include button;
  @include button-primary;

  margin-top: var(--size-line);
}

/*
@media (--tablet) {

  .col2-set .form-row-first {}

  .col2-set .form-row-last {}

  .col2-set .form-row-first,
  .col2-set .form-row-last {}
}
*/

// #endregion

/* -----------------------------------------------------------------------------
 * PRODUCTS
 * -------------------------------------------------------------------------- */
// #region

// SHOP PAGE

// Sort and count
.woocommerce-result-count {
  display: block;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}

.main__collection-cart__actions {
  margin-bottom: var(--size-line);
  @media (--phone-l) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.products {
  --columns: 1;

  @media (--phone-l) {
    --columns: 2;
  }
}

/*
.products .product {
  @media (--phone-l) {}
}

.product img {}

.product .button {}
*/
// #endregion

/* -----------------------------------------------------------------------------
 * SINGLE PRODUCT
 * -------------------------------------------------------------------------- */
// #region

.wcpa_form_outer {
  margin: 0;
}

.modal__cart-form .quantity {
  padding-bottom: var(--size-line);
}

// BUTTONS

// Forward to checkout
.added_to_cart.wc-forward {
  @include button;
  @include button-primary;

  margin-left: var(--size-2);
}

// Hide default buttons when product's .added_to_cart.wc-forward
// .modal__buttons .has-close-label,
// stylelint-disable-next-line selector-max-class
.added_to_cart.wc-forward + .has-close-label + .qlwcdc_quick_purchase,
.add_to_cart_button.added {
  display: none;
}

.add_to_cart_button .is-adding,
.btn.has-close-label .is-continue {
  display: none;
}

.ajax_add_to_cart .loading__indicator {
  display: none;
}

.ajax_add_to_cart.loading {
  pointer-events: none;
  color: hsl(0 0% 100% / .5);

  .loading__indicator,
  .is-adding {
    display: block;
  }

  .is-add {
    display: none;
  }
}

// Show close button when product's added

.added_to_cart.wc-forward + .has-close-label,
.btn.is-primary + .has-close-label {
  display: block;
  order: -1;
}

/*
.single-product .product {}

.single-product .woocommerce-product-gallery {}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {}

.stock:empty::before {}

.stock.in-stock {}

.stock.out-of-stock {}
*/
// #endregion

/* -----------------------------------------------------------------------------
 * ACCOUNT
 * -------------------------------------------------------------------------- */
// #region

// TITLE AND LOCAL NAV
.page.is_account .modal__heading {
  @include visually-hidden;
}

.page.is-account .modal__header {
  padding: 0;
  overflow: hidden;
  height: 0;
}

.woocommerce-MyAccount-navigation ul {
  @media (--phone-l) {
    display: flex;
    justify-content: flex-end;
    padding-bottom: var(--size-line);
  }
}

.woocommerce-MyAccount-navigation-link {
  padding: 0;
}

// Heading 'Account'
.woocommerce-MyAccount-navigation-link--dashboard {
  @include text-format(body-lg);

  margin: 0 0 var(--size-line);

  @media (--phone-l) {
    margin-right: auto;
    margin-bottom: 0;

    a {
      padding: 9px var(--size-half);
    }
  }

  @media (--tablet) {
    a {
      margin-left: calc(var(--size-2) * -1);
      padding: var(--size-half) var(--size-2);
    }
  }
}

// Links
.woocommerce-MyAccount-navigation-link + .woocommerce-MyAccount-navigation-link a {
  @include label;

  border-bottom: 1px solid var(--color-ink-border);
  padding: var(--size-2) 0 var(--size-2p5);
  position: relative;

  @media (--phone-l) {
    border-bottom: 0;
    padding: var(--size-2) 6px;
  }

  @media (--tablet) {
    padding-left: var(--size-2);
    padding-right: var(--size-2);
  }
}

.woocommerce-MyAccount-navigation-link a {
  display: block;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus-visible {
    background-color: var(--color-ink-min);
    text-decoration: none;
  }

  @media (--phone-l) {
    border-radius: var(--border-radius-sm);
  }
}

.woocommerce-MyAccount-navigation-link.is-active a {
  cursor: default;
  pointer-events: none;

  @media (--phone-p) {
    &::after {
      background-color: var(--color-brand-bg-dark);
      border-radius: var(--size-half);
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: var(--size-1);
      height: var(--size-1);
    }
  }

  @media (--phone-l) {
    background-color: var(--color-ink-min);
  }
}

// SIGN IN / SIGN UP
.woocommerce-form-register p {
  color: var(--color-ink-2ry);
}

// EDIT PROFILE
.woocommerce-EditAccountForm fieldset {
  margin-top: calc(var(--size-line) * 2);
}

.woocommerce-EditAccountForm legend {
  @include text-format(body-lg);
  margin: 0;
}

.woocommerce-Input + span em {
  color: var(--color-ink-2ry);
  display: block;
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  padding-top: var(--padding-top-caption);
  // padding-bottom: var(--padding-bottom-caption);
}

// ADDRESS

// BUTTONS

[name='save_address'],
.woocommerce-form-login__submit,
.woocommerce-EditAccountForm .woocommerce-Button {
  @include button;
  @include button-primary;
}

.woocommerce-form-register__submit {
  @include button;
}
// #endregion

/* -----------------------------------------------------------------------------
 * STAR RATING
 * -------------------------------------------------------------------------- */
// #region

/*
.star-rating {}

.star-rating::before {}

.star-rating span {}

.star-rating span::before {}

.stars a {
  &::before {}
}

.stars a:hover ~ a::before {}

.stars:hover a::before {}

.stars.selected a.active::before {}

.stars.selected a.active ~ a::before {}

.stars.selected a:not(.active)::before {}
*/

// #endregion

/* -----------------------------------------------------------------------------
 * PASSWORD STRENGTH METER
 * -------------------------------------------------------------------------- */
// #region

/*
.woocommerce-password-strength {}

.woocommerce-password-strength.strong {}

.woocommerce-password-strength.short {}

.woocommerce-password-strength.bad {}

.woocommerce-password-strength.good {}
*/

// #endregion

/* -----------------------------------------------------------------------------
 * NOTICES
 * -------------------------------------------------------------------------- */
// #region

/*
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
.no-comments {}

.woocommerce-info,
.woocommerce-noreviews,
.no-comments {}

.woocommerce-error {}

.demo_store {}
*/

// #endregion

/* -----------------------------------------------------------------------------
 * WOOCOMMERCE PRICE FILTER
 * -------------------------------------------------------------------------- */
// #region

/*
.widget_price_filter .price_slider {}

.widget_price_filter .price_slider_amount {}

.widget_price_filter .price_slider_amount .button {}

.widget_price_filter .ui-slider {}

.widget_price_filter .ui-slider .ui-slider-handle {}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {}

.widget_price_filter .ui-slider .ui-slider-handle:hover,
.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {}

.widget_price_filter .ui-slider .ui-slider-range {}

.widget_price_filter .price_slider_wrapper .ui-widget-content {}

.widget_price_filter .ui-slider-horizontal {}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {}
*/
// #endregion
