// stylelint-disable selector-no-qualifying-type

@use 'sass:math';
@use '../../styles/abstracts' as *;

/* -----------------------------------------------------------------------------
 * CONTAINERS
 * -------------------------------------------------------------------------- */

form {
  accent-color: var(--color-brand-text);
  caret-color: var(--color-brand-ink-2ry);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Input container
form p,
form > div:not([class]) {
  position: relative;
  padding: 0;
}

/* -----------------------------------------------------------------------------
 * LEGEND AND LABELS
 * -------------------------------------------------------------------------- */

label,
legend {
  display: block;
}

legend {
  font-weight: 500;
  white-space: normal;
  margin: 0;
  max-width: 100%;
}

label {
  color: var(--color-ink-2ry);
  font-size: var(--font-size-label);
  line-height: var(--line-height-label);
  margin: 0;
  padding-top: var(--padding-top-label);
  padding-bottom: var(--padding-bottom-label);
  position: relative;
}

/* -----------------------------------------------------------------------------
 * FIELDS NORMALIZE
 * -------------------------------------------------------------------------- */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 0;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::-ms-expand {
  display: none;
}

/* -----------------------------------------------------------------------------
 * INPUT, TEXTAREA, SELECT BASE
 * -------------------------------------------------------------------------- */

input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: inherit;
}

input,
select,
textarea {
  background-color: var(--color-bg-base);
  hanging-punctuation: none;
}

select,
textarea,
input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='reset']) {
  appearance: none;
  background-color: var(--color-bg-2ry);
  border: 0;
  color: var(--color-ink-base);
  display: block;
  padding-block: var(--padding-y-input);
  overflow: visible;
  transition: box-shadow var(--easing-base) var(--duration-xxs), color var(--easing-base) var(--duration-xxs);
  width: 100%;
  min-height: calc(var(--size-line) * 2);

  &:focus-visible {
    @include state-focus;
    color: var(--color-ink-base);
    border-color: transparent;
  }

  &::placeholder {
    color: var(--color-ink-3ry);
    opacity: 1;
  }
}

select,
textarea,
input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='reset']):not([type='search']) {
  border-radius: var(--border-radius-sm);
  padding-inline: var(--padding-x-input);
}

[type='password'] {
  padding-inline-end: var(--padding-x-input-lg);
}

/* -----------------------------------------------------------------------------
 * SPECIFIC
 * -------------------------------------------------------------------------- */

textarea {
  padding-top: rem(11);
  overflow: auto;
  resize: vertical;
}

textarea:not([rows]) {
  height: calc(var(--size-line) * 6);
}

[disabled],
[readonly] {
  @include state-disabled();
}

/* -----------------------------------------------------------------------------
 * HINTS
 * -------------------------------------------------------------------------- */

form small {
  color: var(--color-ink-2ry);
  margin-top: var(--size-1);
  max-width: var(--width-readable);
  display: block;
}

.form__disclaimer {
  margin-block: var(--size-line);
}

/* -----------------------------------------------------------------------------
 * BUTTONS
 * -------------------------------------------------------------------------- */

.form__footer {
  > * {
    margin-bottom: var(--size-2);
  }

  @media (--tablet) {
    display: flex;
    align-items: center;
    padding-top: var(--padding-top-form-actions);
    padding-bottom: var(--padding-bottom-form-actions);

    > :not(:last-child) {
      margin-right: var(--size-2);
    }
  }
}

/* -----------------------------------------------------------------------------
 * CAPTCHA
 * -------------------------------------------------------------------------- */

.grecaptcha-badge {
  opacity: 0;
  pointer-events: none;
}
