// stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors, no-descending-specificity

@use '../../styles/abstracts' as *;

/* -----------------------------------------------------------------------------
 * INVALID INPUTS
 * -------------------------------------------------------------------------- */
// #region

:--text-field:user-invalid {
  box-shadow: 0 0 0 rem(2) var(--color-error-base);

  // Show error message
  + .form__error {
    opacity: 1;
    height: auto;
  }

  // Hide hint
  + small {
    display: none;
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * INLINE ERROR MESSAGES
 * -------------------------------------------------------------------------- */
// #region

.form__error {
  color: var(--color-error-text);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  display: block;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--duration-lg);
  height: 0;
}

// Ensure proper padding around error messages
.form__error > span {
  display: block;
  padding-top: calc(var(--padding-top-caption) + var(--size-half));
  padding-bottom: var(--padding-bottom-caption);
  padding-inline: var(--size-2);
}

// Show validation alert for form rows with errors
.grid.has-error + .form__error {
  opacity: 1;
  height: auto;
}
// #endregion
