@use 'sass:math';
@use 'sass:map';
@use 'abstracts/mixins' as *;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // Remove the grey highlight on links in iOS (opinionated)
  -webkit-tap-highlight-color: transparent;
  color-scheme: light dark;
  font-family: var(--font-family-base);
  // For
  font-size: var(--font-size-doc);
  font-synthesis: none;
  font-weight: 400;
  // https://caniuse.com/?search=hanging-punctuation
  hanging-punctuation: first last;
  text-rendering: optimizeLegibility;
  // Prevent adjustments of font size after orientation changes in iOS
  text-size-adjust: 100%;
  scrollbar-gutter: stable;
  scrollbar-width: thin;


  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  accent-color: var(--color-brand-primary);
  background: var(--color-bg-base);
  color: var(--color-ink-2ry);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  font-variant-numeric: oldstyle-nums;
  font-weight: var(--font-weight-base);
  letter-spacing: var(--letter-spacing-base, 0.011em);
  line-height: var(--line-height-base);
  text-align: left;
  margin: 0;
  // Create safe areas for iPhone X+
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100dvh;
}

// Scrollbars
* {
  scrollbar-color: var(--color-scroll-thumb) var(--color-scroll-track);
  scrollbar-width: thin;

  // Previous webkit browsers
  &::-webkit-scrollbar {
    width: var(--size-1);
    height: var(--size-1);
  }

  &::-webkit-scrollbar-track {
    background: var(--color-scroll-track);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
    border-radius: var(--border-radius-pill);
    border: var(--size-half) solid transparent;
  }
}
