@use 'sass:math';
@use 'abstracts/config' as *;
@use 'abstracts/functions' as *;
// prettier-ignore

:root {
  // 🎨 COLORS
  // #region

  --h-blue:   232;
  --h-green:  122;
  --h-red:    2;
  --h-yellow: 62;

  --h:  272;
  --s:  82%;
  --sn: 12%;  // neutral
  --l:  74%;

  // DECLARATIVE PALETTE
  --color-brand-primary:  hsl(var(--h) var(--s) var(--l));

  --color-alpha-light-max: hsl(0 0% 100%);
  --color-alpha-light-900: hsl(0 0% 100% / 0.87);
  --color-alpha-light-600: hsl(0 0% 100% / 0.6);
  --color-alpha-light-400: hsl(0 0% 100% / 0.38);
  --color-alpha-light-200: hsl(0 0% 100% / 0.2);
  --color-alpha-light-min: hsl(0 0% 100% / 0.07);

  --color-shadow:          var(--h) var(--sn) 12%;

  --color-neutral-950:     hsl(var(--h) var(--sn) 14%);
  --color-neutral-900:     hsl(var(--h) var(--sn) 20%);

  --backdrop-filter-elevated: #{saturate(180%) blur(20px)};
  --backdrop-filter-blur:     #{blur(20px)};

  // Adjustments
  --filter-brightness-up:   brightness(1.16);
  --filter-brightness-down: brightness(0.84);
  // #endregion

  // 🔠 TYPOGRAPHY
  // #region

  --font-family-emoji:
   'Apple Color Emoji',
   'Segoe UI Emoji',
   'Segoe UI Symbol',
   'Noto Color Emoji';

  --font-family-sans:
   -apple-system,
    BlinkMacSystemFont,
    Inter,
    sans-serif;

  --font-family-base:   var(--font-family-sans), var(--font-family-emoji);
  --font-family-titles: var(--font-family-base);

  --font-size-doc:         #{$html-font-size};

  --font-weight-titles-max: 700;
  --font-weight-titles:     600;
  --font-weight-titles-min: 400;

  --font-size-hero-title:      #{rem(40)};
  --font-weight-hero-title:    var(--font-weight-titles);
  --letter-spacing-hero-title: #{rem(1) * -1};
  --line-height-hero-title:    #{math.div(48, 40)};
  --padding-top-hero-title:    #{rem(1)};
  --padding-bottom-hero-title: #{rem(7)};

  --font-size-title:      #{rem(40)};
  --font-weight-title:    var(--font-weight-titles);
  --letter-spacing-title: #{rem(1) * -1};
  --line-height-title:    #{math.div(48, 40)};
  --padding-top-title:    #{rem(1)};
  --padding-bottom-title: #{rem(7)};

  --font-size-subhead-lg:       #{rem(32)};
  --font-weight-subhead-lg:     var(--font-weight-titles);
  --letter-spacing-subhead-lg:  0;
  --line-height-subhead-lg:     #{math.div(40, 32)};
  --padding-top-subhead-lg:     0;
  --padding-bottom-subhead-lg:  0;

  --margin-top-subhead: var(--size-line);

  --font-size-body-lg:      #{rem(20)};
  --font-weight-body-lg:    var(--font-weight-titles);
  --letter-spacing-body-lg: 0;
  --line-height-body-lg:    #{math.div(32, 20)};
  --padding-top-body-lg:    #{rem(1)};
  --padding-bottom-body-lg: #{rem(7)};

  --font-size-base:      #{rem(17)};
  --font-weight-base:    var(--font-weight-titles);
  --line-height-base:    #{math.div(24, 17)};
  --letter-spacing-base: 0;
  --padding-top-base:    #{rem(6)};
  --padding-bottom-base: #{rem(2)};

  --font-size-label:      #{rem(12)};
  --letter-spacing-label: 0;
  --line-height-label:    #{math.div(16, 12)};
  --padding-top-label:    #{rem(4)};
  --padding-bottom-label: #{rem(4)};

  --font-size-caption:      #{rem(12)};
  --letter-spacing-caption: 0;
  --line-height-caption:    #{math.div(16, 12)};
  --padding-top-caption:    #{rem(4)};
  --padding-bottom-caption: #{rem(4)};
    // #endregion

  // 📐 SPACING
  // #region

  --size-half: #{rem(4)};
  --size-1:    #{rem(8)};
  --size-1p5:  #{rem(12)};
  --size-2:    #{rem(16)};
  --size-2p5:  #{rem(20)};
  --size-3:    #{rem(24)};
  --size-4:    #{rem(32)};
  --size-5:    #{rem(40)};
  --size-6:    #{rem(48)};
  --size-7:    #{rem(56)};
  --size-8:    #{rem(64)};

  --size-line: var(--size-3);
  --spacer:    var(--size-line);
  --gap-base:  var(--size-2p5);
  --gap-large: var(--size-4);
  // #endregion

  // 🍱 COMPONENTS BASE
  // #region

  // SPACING
  --padding-bottom-list: #{rem(16)};
  --padding-bottom-li:   #{rem(10)};  // 2 base + 8 as margin

  --padding-x-box:       var(--size-2);
  --padding-x-container: var(--size-2p5);

  --padding-y-btn:       0;
  --padding-x-btn:       var(--size-2);
  --height-btn:          var(--size-5);

  --padding-x-input:     var(--size-2);
  --padding-y-input:     #{rem(5)};

  --size-icon:           #{rem(24)};
  --size-icon-sm:        #{rem(20)};

  --border-width: #{rem(1)};

  // RADIUS
  // Rectangular Images
  --border-radius-xs:   var(--size-half);

  // Supporting token
  --border-radius-sm:   var(--size-1);

  // Buttons
  --border-radius-base: var(--size-1p5);

  // Boxes (cards, alerts, covers etc), Popovers, Pickers, Tooltips
  --border-radius-md:   var(--size-2);

  // Drawers
  --border-radius-lg:   var(--size-3);

  // Modals
  --border-radius-xl:   var(--size-4);

  --border-radius-pill: 100vmax;

  // Z-INDEX
  --zindex-sticky:  10;
  --zindex-fixed:   20;  // including app/nav bar
  --zindex-fab:     30;
  --zindex-popover: 40;
  --zindex-tooltip: 50;
  --zindex-drawer:  70;
  --zindex-modal:   80;
  // #endregion

  // 🔲 WIDTHS
  // #region

  --width-sm:        #{rem(272)};

  // Popovers, tablet and desktop drawers, alerts (.modal.is-sm) on landscape phones
  --width-base:      #{rem(320)};

  // Wide drawers, alerts (.modal.is-sm), popovers on tablets and up
  --width-md:        #{rem(448)};

  // Default modals on landscape phones and up
  --width-lg:        #{rem(544)};

  // Large modals on desktops
  --width-xl:        #{rem(720)};

  // 1096 + 40*2 paddings
  --width-container: #{rem(1176)};

  --width-readable:  70ch;
  // #endregion

  // 🌓 SHADOWS
  // #region

  // Buttons, Cards, Alerts, App Bar, Tab Bar, Switches
  --box-shadow-min: 0 1px 0 hsl(var(--color-shadow) / 0.12);

  // FAB, Buttons hover, Snackbars, Sticky Components
  --box-shadow-level-01:
    0 0 0.5px 1px var(--color-alpha-light-min),
    0 0 0 1px hsl(var(--color-shadow) / var(--shadow-ring, 0.04)),
    0 1px 2px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06)),
    0 2px 4px -1px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06));

  // Overlays: Popovers, Tooltips, Drawers, Dropdowns, Pickers,
  // Modal Bottom Sheets, FAB hover
  --box-shadow-level-02:
    0 0 0.5px 1px var(--color-alpha-light-min),
    0 0 0 1px hsl(var(--color-shadow) / var(--shadow-ring, 0.04)),
    0 2px 4px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06)),
    0 6px 12px -2px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06)),
    0 14px 28px -4px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06));

  // Modals
  --box-shadow-level-03:
    0 0 0.5px 1px var(--color-alpha-light-min),
    0 0 0 1px hsl(var(--color-shadow) / var(--shadow-ring, 0.04)),
    0 3px 6px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06)),
    0 8px 16px -2px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06)),
    0 18px 36px -4px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06)),
    0 30px 60px -4px hsl(var(--color-shadow) / var(--shadow-opacity-low, 0.06));
  // #endregion

  // 👻 MOTION DESIGN
  // #region

  // Micro-interactions such as button and toggle
  --duration-xxs: 0.07s;

  // Micro-interactions such as fade
  --duration-xs: 0.11s;

  // Micro-interactions, small expansion, short distance movements
  --duration-sm: 0.15s;

  // Expansion, system communication, toast
  --duration-md: 0.24s;

  // Large expansion, important system notifications
  --duration-lg: 0.4s;

  // Background dimming
  --duration-xl: 0.7s;

  --easing-base: cubic-bezier(0.2, 0, 0.38, 0.9);
  --easing-appearance: cubic-bezier(0, 0, 0.38, 0.9);
  --easing-disappearance: cubic-bezier(0.2, 0, 1, 0.9);
  --easing-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  // #endregion

  // 📋 TABLET OVERRIDES
  @media (--tablet) {
    --font-size-hero-title:      #{rem(80)};
    --font-weight-hero-title:    var(--font-weight-titles-max);
    --line-height-hero-title:    #{math.div(96, 80)};
    --padding-top-hero-title:    #{rem(3)};
    --padding-bottom-hero-title: #{rem(5)};

    --font-size-title:      #{rem(80)};
    --font-weight-title:    var(--font-weight-titles);
    --line-height-title:    #{math.div(96, 80)};
    --padding-top-title:    #{rem(3)};
    --padding-bottom-title: #{rem(5)};

    --font-size-subhead-lg:      #{rem(40)};
    --font-weight-subhead-lg:    var(--font-weight-titles);
    --line-height-subhead-lg:    #{math.div(48, 40)};
    --padding-top-subhead-lg:    #{rem(1)};
    --padding-bottom-subhead-lg: #{rem(7)};

    --font-size-body-lg:      #{rem(26)};
    --font-weight-body-lg:    var(--font-weight-titles);
    --line-height-body-lg:    #{math.div(32, 26)};
    --padding-top-body-lg:    #{rem(7)};
    --padding-bottom-body-lg: #{rem(1)};

    --font-size-base:      #{rem(20)};
    --line-height-base:    #{math.div(32, 20)};
    --letter-spacing-base: 0;
    --padding-top-base:    #{rem(1)};
    --padding-bottom-base: #{rem(7)};

    --font-size-label:      #{rem(14)};
    --letter-spacing-label: 0;
    --line-height-label:    #{math.div(20, 14)};
    --padding-top-label:    #{rem(1)};
    --padding-bottom-label: #{rem(3)};

    --spacer: calc(var(--size-line) * 3);

    --padding-x-box: var(--size-line);
    --padding-x-container: var(--size-6);

    --height-btn:          var(--size-6);
  }
}
