@use 'sass:math';
@use '../../styles/abstracts' as *;

// Base
.card {
  background: var(--color-bg-base);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-level-01);
  display: flex;
  flex-direction: column;
  padding: var(--padding-x-box);
  text-align: left;
}

// Title
.card__heading {
  @include text-format(body-lg);
  font-family: var(--font-family-titles);
  margin-bottom: var(--margin-bottom-heading);
}

// Summary
.card__summary {
  color: var(--color-ink-2ry);
  margin-bottom: var(--margin-bottom-summary);
}

// Image
.card__img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
