@use '../../styles/abstracts' as *;

.icon {
  --icon-fill: none;
  --icon-stroke: var(--color-ink-icon);
  --icon-stroke-width: 2;

  display: inline-block;

  // Prevent the icon from shrinking inside a flex container.
  flex-shrink: 0;
  overflow: hidden;
  transition:
    fill var(--duration-xxs),
    opacity var(--duration-xxs);
  vertical-align: middle;

  width: var(--size-icon);
  height: var(--size-icon);

  @media (--retina) {
    --icon-stroke-width: 1.5;
  }

  // Remove black fill in the FF
  // stylelint-disable-next-line at-rule-no-vendor-prefix
  @-moz-document url-prefix() {
    fill: transparent;
  }
}
