extends /pages/base/base.pug
include /pages/base/mixins

//- FRONT MATTER ---------------------------------------------------------------

append config
  -
    const page = {
      lang: 'ru',
      title: 'Yey!',
      desc: site.desc.ru,
      bodyClasses: 'page is-home',
    }

//- CONTENT --------------------------------------------------------------------

block content
  main.main
    .container
      h1 Welcome to my world
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto dolores dolorum facilis, est esse illum non accusamus minus dolor harum mollitia commodi ducimus laboriosam, magni ipsa sint veniam rerum recusandae?

      +icon('star')
      +icon('star', 'is-dummy')

      +snippet(
        'Lorem ipsum dolor sit amet',
        'Lorem ipsum dolor sit amet',
        'cover.png'
      )

      form
        p
          +formItem('My Label', 'my-input', 'text', false, 'Message')

      +button('My Button', false, false, false, 'submit')
