extends /pages/base/base.pug
include /pages/base/mixins

//- FRONT MATTER ---------------------------------------------------------------

append config
  -
    const page = {
      title: 'Stress-Free Language Learning: A Simple Method for Mastering New Languages | ' + site.shortname.en,
      desc: 'Discover a stress-free and effortless way to learn languages with practical tips and tools. Start today and make language learning a natural part of your daily routine using immersive methods like playphrase.me. Achieve fluency without overload!'
    }

//- CONTENT --------------------------------------------------------------------

block content
  main.main
    .cefr
      img(src="/assets/img/pages/index/cefr.svg", alt="Common European Framework of Reference for Languages (CEFR)")
    span.progress

    header.hero
      .container
        .hero__base
          figure.brand-motif
            img(src="/assets/img/motif/prominences-01.svg", alt="")
          h1: span Keep calm and learn languages
          p.h2 A Stress-Free and Effortless Way to Learn
          .timeline-dot.is-active

    section.section.is-intro(aria-labelledby='subhead-intro' data-animation)
      .container
        .section__base
          figure.brand-motif.is-alt
            img(src="/assets/img/motif/prominences-02.svg", alt="")
          h2#subhead-intro Tried Everything? But Still Haven&rsquo;t Learned the Language?
          p.bold That&rsquo;s because you&rsquo;re overloading your brain with&nbsp;80% unknown information, causing it&nbsp;to&nbsp;regularly shut down, just like circuit breakers trip during power surges.
          p You need to&nbsp;learn a&nbsp;foreign language in&nbsp;reverse proportion — using material that you already understand 80&ndash;90% of&nbsp;(for absolute beginners, this means images with captions or&nbsp;videos with subtitles). Without overloads, your brain works best: absorbing information like a&nbsp;sponge.&nbsp;
            button.link.is-modal-toggle(type='button' data-target='modal-intro') Learn more
          .timeline-dot

    section.section.is-playphrase-way(aria-labelledby='subhead-playphraseme-way' data-animation)
      .container
        .section__base
          figure.brand-motif
            img(src="/assets/img/motif/prominences-03.svg", alt="")
          h2#subhead-playphraseme-way Learn a&nbsp;Language with playphrase.me
          p.bold Use playphrase.me for daily language learning through immersive distance learning: in&nbsp;the morning, study new phrases, during the day, listen passively, and in&nbsp;the evening, reinforce and expand your knowledge. Weekly, review learned phrases and add them to&nbsp;your vocabulary by&nbsp;watching clips from movies and series.
          p One hour a&nbsp;day will quickly improve your language comprehension and help you master useful expressions.&nbsp;
            button.link.is-modal-toggle(type='button' data-target='modal-method') Learn more
          .timeline-dot
        figure.section__image
          +rImage('pages/index/phone.png', 'PlayPhrase.me mobile UI')

    section.section.is-tips(aria-labelledby='subhead-outro' data-animation)
      .container
        .section__base
          figure.brand-motif.is-alt
            img(src="/assets/img/motif/prominences-04.svg", alt="")
          h2#subhead-outro Additional Tips
          ol
            li <strong>Don&rsquo;t study grammar; instead, look for patterns by&nbsp;listening to&nbsp;speech.</strong> The traditional method of&nbsp;studying grammar scares most people — endless rules and exceptions discourage the main goal — communicating in&nbsp;the new language. Therefore, download a&nbsp;cheat sheet for the grammar of&nbsp;the chosen language and refer to&nbsp;it&nbsp;only when you don&rsquo;t understand why a&nbsp;character in&nbsp;a&nbsp;movie or&nbsp;series said something a&nbsp;certain way.
            li <strong>Try to&nbsp;notice the phrases you&rsquo;re learning in&nbsp;other sources,</strong> such as&nbsp;movies, series, or&nbsp;music. This will help reinforce the knowledge and give it&nbsp;more context.<br>
              button.link.is-modal-toggle(type='button' data-target='modal-outro') Learn more
          .timeline-dot

    form.form.is-search#form-search(action='/search' role='search')
      label(for='form-search-input') Search new words and phrases
      input#form-search-input(name='q' type='search' value='hola amigos' autocorrect='off' autocapitalize='off' autocomplete='off' placeholder='Search…')
      button.btn.is-primary(type='submit') Start learning

  dialog.modal#modal-intro
    article
      button.btn.modal__close(type='button' data-role='close-modal' aria-label='Close')
        +icon('x-mark')
      header
        h2 Stress-Free and Effortless Way to&nbsp;Learn
      .modal__body
        p.bold The areas of&nbsp;the brain&rsquo;s cortex responsible for cognitive processes&nbsp; — neocortex&nbsp; — function best in&nbsp;a&nbsp;state of&nbsp;calm, without stress or&nbsp;overload.
        ol
          li
            p Don&rsquo;t set rigid deadlines or&nbsp;unrealistic goals for yourself, like learning a&nbsp;new language in&nbsp;three months or&nbsp;speaking it&nbsp;fluently within a&nbsp;year. Remove negative emotional pressure: anxiety, self-doubt, disappointment.
            p Set language learning as&nbsp;a&nbsp;long-term goal. Let it&nbsp;become a&nbsp;part of&nbsp;your daily routine — like hygiene practices. Don&rsquo;t force yourself — study just enough to&nbsp;avoid the urge to&nbsp;quit.
          li: p In&nbsp;reality, good results come to&nbsp;those who study at&nbsp;least three hours a&nbsp;day. But most people can&rsquo;t handle that load. Study for at&nbsp;least half an&nbsp;hour to&nbsp;an&nbsp;hour, but regularly — 5 — 6 days a&nbsp;week. Take one day off for rest.
          li
            p You don't need to memorize or cram. Learn like children do — in infancy, we don't speak, we listen first. Linguists call this intensive passive listening. Dedicate at least six months to listening to and reading words and phrases in the new language: the best way to do this is with videos with subtitles in the original language (without translation).
            p Choose material that you understand at least 80% or more. Constantly repeat the same words and phrases — <b>practice makes perfect</b>. Gradually make the program more challenging: cartoons for little kids—cartoons and movies for teens—popular series and movies—educational programs.
          li: p After six months, when most learners develop <b>language intuition<b>, you can move on&nbsp;to&nbsp;speaking and writing practice.
        a.btn(href="https://www.playphrase.me/#/search?q=Hola+Amigos&language=es") Get Started

  dialog.modal#modal-method
    article
      button.btn.modal__close(type='button' data-role='close-modal' aria-label='Close')
        +icon('x-mark')
      header
        h2 May the Force be&nbsp;with you
      .modal__body
        p * <strong>Sp.</strong> — Que la&nbsp;Fuerza te&nbsp;acompa&ntilde;e. <strong>Fr.</strong> — Que la&nbsp;Force soit avec toi. <strong>Ger.</strong> — M&ouml;ge die Macht mit dir sein.
        p Choose a&nbsp;list of&nbsp;words and phrases according to&nbsp;your language level — from A1&nbsp;(beginner) to&nbsp;C1 (advanced academic level): <a href="https://www.playphrase.me/">Spanish</a>, <a href="https://www.playphrase.me/">French</a>, <a href="https://www.playphrase.me/">German</a>. And start your daily practice.

        h3 1. Morning. Start the day by&nbsp;choosing phrases to&nbsp;study
        ul
          li <strong>Time</strong>: 20–25 minutes
          li <strong>Actions</strong>:
            ul
              li Log in&nbsp;to&nbsp;<strong>playphrase.me</strong>. Select the language on&nbsp;the top panel. Choose the Common Phrases list — these are the core phrases of&nbsp;the target language, the ones most frequently used by&nbsp;native speakers.
                ul
                  li On&nbsp;a&nbsp;PC, the list appears on&nbsp;the right side of&nbsp;the screen when the player is&nbsp;paused and the cursor hovers over the frame.
                  li On&nbsp;a&nbsp;phone, to&nbsp;open the list, tap the three dots button in&nbsp;the bottom right corner and select Common phrases from the menu.
          li Choose a&nbsp;phrase you want to&nbsp;learn: for example, <strong>&iquest;C&oacute;mo est&aacute; usted?</strong> (How are you?) or&nbsp;<strong>Je ne&nbsp;sais pas</strong> (I&nbsp;don&rsquo;t know).
            ul
              li Press the play button and watch a&nbsp;few short clips with the phrase. Focus on&nbsp;pronunciation and intonation, and pay attention to&nbsp;the context.
              li Save the phrase to&nbsp;your favorites to&nbsp;revisit it&nbsp;later for reinforcement. reinforcement.
                ul
                  li On&nbsp;a&nbsp;PC, click the star button in&nbsp;the bottom right corner of&nbsp;the screen.
                  li On&nbsp;a&nbsp;phone, tap the three dots button in&nbsp;the bottom right corner and select Favourite the Phrase from the menu.
              li For the first six months, just listen; then start repeating the phrase aloud several times, trying to&nbsp;mimic the intonation and accent.
              li If&nbsp;the phrase is&nbsp;too long or&nbsp;complex, break it&nbsp;down into parts and practice each separately.
          li <strong>Tip</strong>: Start with simple and frequently used phrases to&nbsp;get accustomed to&nbsp;language structures faster.

        h3 2. Daytime. Passive Listening
        ul
          li <strong>Time</strong>: from 25&nbsp;minutes
          li <strong>Actions</strong>. Throughout the day, when you&rsquo;re not mentally engaged, play clips on&nbsp;<strong>playphrase.me</strong> with phrases from Common Phrases in&nbsp;the background. You don&rsquo;t need to&nbsp;try to&nbsp;understand them. The main idea is&nbsp;to&nbsp;create an&nbsp;environment rich in&nbsp;the target language and get used to&nbsp;its sound and speech patterns.

        h3 3. Evening. Reinforcement
        ul
          li <strong>Time</strong>: 20&ndash;25 minutes
          li <strong>Actions</strong>:
            ul
              li In&nbsp;the evening, return to&nbsp;<strong>playphrase.me</strong> and rewatch clips with phrases from &laquo;Favorites.&raquo;
              li Analyze the context in&nbsp;which each phrase is&nbsp;used. Note how the characters express emotions using intonation and body language.
              li Add another new phrase related to&nbsp;one of&nbsp;the new favorites to&nbsp;your practice to&nbsp;create a&nbsp;small &laquo;network&raquo; of&nbsp;words and expressions. Mentally compose a&nbsp;few sentences with this phrase.
              li After six months of&nbsp;&laquo;silent&raquo; learning, start creating dialogues somewhere on&nbsp;your computer or&nbsp;tablet using the learned phrases and try acting them out by&nbsp;yourself, in&nbsp;front of&nbsp;a&nbsp;mirror, or&nbsp;at&nbsp;least in&nbsp;your mind.
          li <strong>Tips</strong>:
            ul
              li Use notes or&nbsp;recording apps to&nbsp;jot down new phrases and revisit them later.
              li Gradually move on&nbsp;to&nbsp;more complex phrases and expressions that require a&nbsp;deeper understanding of&nbsp;the context.
        h3 4. Weekly Review
        ul
          li <strong>Actions</strong>:
            ul
              li At&nbsp;the end of&nbsp;each week, dedicate one session to&nbsp;reviewing all the phrases you learned that week.
              li Rewatch the clips. Just listen and try to&nbsp;understand the phrase by&nbsp;ear.
              li Test yourself by&nbsp;trying to&nbsp;reproduce the phrases independently, without prompts.
        p By&nbsp;using <strong>playphrase.me</strong> for about an&nbsp;hour a&nbsp;day, you can significantly improve your language comprehension and learn to&nbsp;use popular phrases and expressions correctly. Regular practice with real-life examples from movies and series will help you adapt to&nbsp;the language faster and start using it&nbsp;in&nbsp;everyday life.

        a.btn(href="https://www.playphrase.me/#/search?q=Hola+Amigos&language=es") Get Started

  dialog.modal#modal-outro
    article
      button.btn.modal__close(type='button' data-role='close-modal' aria-label='Close')
        +icon('x-mark')
      header
        h2 Listen, Take Your Time, and Get Comfortable
      .modal__body
        ol(style="--start-counter: 3;")
          li: p <strong>When watching movies or&nbsp;series in&nbsp;the language you&rsquo;re learning, pay attention to&nbsp;the phrases you already know</strong> and try to&nbsp;repeat them after the actors.
          li
            p <strong>Use daily reminders</strong> to&nbsp;study the language. Daily reminders on&nbsp;your smartphone are a&nbsp;simple way to&nbsp;get yourself into the habit of&nbsp;studying English. Even if&nbsp;you don&rsquo;t start right away, such reminders will help you subconsciously prepare for the task. Gradually, your brain will get used to&nbsp;the new activity, and it&nbsp;won&rsquo;t seem so&nbsp;difficult anymore.
            .flex-grid.manual
              figure.manual__screen.is-top
                +rImage('pages/index/reminders-01.png', 'iOS Reminders')
              figure.manual__screen.is-bottom
                +rImage('pages/index/reminders-02.png', 'iOS Reminders')
              figure.manual__screen.is-top
                +rImage('pages/index/reminders-03.png', 'iOS Reminders')
              figure.manual__screen.is-middle
                +rImage('pages/index/reminders-04.png', 'iOS Reminders')
            p Create three recurring events in&nbsp;your calendar or&nbsp;Notifications on&nbsp;iOS at&nbsp;convenient times in&nbsp;the morning, afternoon, and evening: for example, <strong>Learn Espa&ntilde;ol for 25&nbsp;minutes</strong>. Set it&nbsp;to&nbsp;repeat daily (preferably 6&nbsp;days a&nbsp;week).
            p Even if&nbsp;you miss sessions at&nbsp;first, over time, the likelihood of&nbsp;starting to&nbsp;study will increase. If&nbsp;the reminders start to&nbsp;irritate you, change their frequency to&nbsp;weekly or&nbsp;set them for times when you&rsquo;re more free. The main thing is&nbsp;not to&nbsp;delete the reminder until the goal is&nbsp;reached.
          li <strong>Remembering words is&nbsp;not the fastest process.</strong> Don&rsquo;t have illusions that you can learn 500-800 words in&nbsp;a&nbsp;couple of&nbsp;months. Give your brain time to&nbsp;absorb their meaning, and it&nbsp;will repay you by&nbsp;not wasting time recalling each word in&nbsp;the future when you really need&nbsp;it.

        a.btn(href="https://www.playphrase.me/#/search?q=Hola+Amigos&language=es") Get Started

