@use 'sass:map';
@use '../../styles/abstracts' as *;

/* -----------------------------------------------------------------------------
 * BASE
 * -------------------------------------------------------------------------- */
// #region

/* Basic modal styling for dialog element */
.modal {
  --modal-background: var(--color-bg-base);
  --modal-border-radius: var(--border-radius-lg);
  --modal-padding-x: var(--padding-x-box);

  backdrop-filter: var(--modal-overlay-backdrop-filter);
  background-color: var(--modal-overlay-background-color);
  border: 0;
  color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: fixed;
  inset: 0;
  transition: opacity var(--duration-md) var(--easing-base);
  opacity: 1;
  width: 100%;
  height: 100%;

  &:not([open]) {
    display: none;
    opacity: 0;
  }

  @starting-style {
    opacity: 0;
  }
}

.modal__base {
  background: var(--modal-background);
  border: var(--size-1) solid transparent;
  border-radius: var(--modal-border-radius);
  box-shadow: var(--box-shadow-level-03);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  overflow-y: auto;
  position: fixed;
  inset: 0;
  transition: translate var(--duration-md) var(--easing-base),
              opacity var(--duration-md) var(--easing-base);
  translate: 0;
  width: min(100%, var(--width-lg));
  height: calc(100% - var(--size-5));

  @starting-style {
    translate: 0 50%;
  }

  @media (pointer: coarse) {
    scrollbar-gutter: stable both-edges;
  }

  @media (--tablet) {
    border-radius: var(--modal-border-radius);
    height: max-content;
    max-height: calc(100vh - var(--size-8));

    @starting-style {
      translate: 0 -50%;
    }
  }
}

/* Closed state animation */
.modal:not([open]) > .modal__base {
  translate: 0 50%;

  @media (--tablet) {
    translate: 0 -50%;
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * SCRIMS
 * -------------------------------------------------------------------------- */
// #region
/* Optional: Scrims (faded areas) at the top and bottom of the modal */
.modal::before,
.modal::after {
  display: block;
  content: '';
  position: sticky;
  right: 0;
  left: 0;
  height: var(--size-4);
  z-index: 1;
}

.modal::before {
  background-image: linear-gradient(
    var(--modal-background) 1%,
    transparent 33.33%,
    transparent
  );
  top: 0;
}

.modal::after {
  background-image: linear-gradient(
    transparent,
    transparent 66.67%,
    var(--modal-background)
  );
  bottom: 0;
}
// #endregion

/* -----------------------------------------------------------------------------
 * CONTENT
 * -------------------------------------------------------------------------- */
// #region

/* Basic padding for modal content */
.modal__body,
.modal__content {
  padding-right: var(--modal-padding-x);
  padding-left: var(--modal-padding-x);
}

// #endregion

/* -----------------------------------------------------------------------------
 * FOOTER - BUTTONS
 * -------------------------------------------------------------------------- */
// #region

/* Footer with buttons aligned to the right */
.modal > footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-1);
  justify-content: flex-end;
  position: sticky;
  z-index: 3;
}

// #endregion

/* -----------------------------------------------------------------------------
 * LOWER UI LOCK
 * -------------------------------------------------------------------------- */
// #region

/* Disable scroll on the html root when the modal is open */
html:has(dialog[open]) {
  overflow: hidden;

  .modal {
    pointer-events: auto;
    touch-action: auto;
  }
}

// #endregion
