@use 'sass:map';
@use '../../styles/abstracts' as *;

/* -----------------------------------------------------------------------------
 * BASE
 * -------------------------------------------------------------------------- */
// #region

/* Basic modal styling for dialog element */
.modal {
  --modal-background: var(--color-bg-layer-03);
  --modal-border-radius: var(--border-radius-lg);
  --modal-padding-x: var(--padding-x-box);
  --modal-overlay-background-color: color-mix(in hsl, var(--color-bg-2ry) 50%, transparent);

  background-color: var(--modal-overlay-background-color);
  backdrop-filter: var(--backdrop-filter-blur);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: fixed;
  inset: 0;
  transition: opacity var(--duration-md) var(--easing-base);
  opacity: 1;
  transition-behavior: allow-discrete;
  width: inherit;
  min-width: 100%;
  height: inherit;
  min-height: 100%;

  &:not([open]) {
    display: none;
    opacity: 0;
  }

  @starting-style {
    opacity: 0;
  }
}

.modal__base,
.modal > article {
  --color-scroll-track: transparent;

  background: var(--modal-background);
  border: var(--size-1) solid transparent;
  border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
  box-shadow: var(--box-shadow-level-03);
  color: var(--color-ink-base);
  display: flex;
  flex-direction: column;
  margin: var(--size-5) auto 0;
  padding: 0;
  overflow-y: auto;
  position: fixed;
  inset: 0;
  transition:
    translate var(--duration-md) var(--easing-base),
    opacity var(--duration-md) var(--easing-base);
  translate: 0;
  width: min(100%, var(--width-xl));
  height: calc(100% - var(--size-5));

  @starting-style {
    translate: 0 50%;
  }

  @media (pointer: coarse) {
    scrollbar-gutter: stable both-edges;
  }

  @media (--tablet) {
    border-radius: var(--modal-border-radius);
    margin: auto;
    padding-inline: var(--size-1);
    height: max-content;
    max-height: calc(100vh - var(--size-8));

    @starting-style {
      translate: 0 -50%;
    }
  }
}

/* Closed state animation */
.modal:not([open]) > .modal__base {
  translate: 0 50%;

  @media (--tablet) {
    translate: 0 -50%;
  }
}
// #endregion

/* -----------------------------------------------------------------------------
 * HEADER
 * -------------------------------------------------------------------------- */
// #region

:where(.modal article) header {
  padding-inline: var(--size-2p5);

  @media (--tablet) {
    padding-inline: var(--size-6);
  }
}

.modal__close {
  aspect-ratio: 1;
  align-self: flex-end;
  backdrop-filter: var(--backdrop-filter-blur);
  border-radius: var(--border-radius-pill);
  height: var(--height-btn);
  padding: 0;
  position: sticky;
  top: var(--size-1);
  right: var(--size-1);
  z-index: 1000;
}

// #endregion

/* -----------------------------------------------------------------------------
 * CONTENT
 * -------------------------------------------------------------------------- */
// #region

/* Basic padding for modal content */
.modal__body {
  color: var(--color-ink-2ry);
  padding-inline: var(--size-2p5);
  padding-bottom: var(--size-2p5);

  @media (--tablet) {
    padding-inline: var(--size-6);
    padding-bottom: var(--size-6);
  }
}

.modal__body h3 {
  color: var(--color-ink-base);
}

// #endregion

/* -----------------------------------------------------------------------------
 * FOOTER - BUTTONS
 * -------------------------------------------------------------------------- */
// #region

/* Footer with buttons aligned to the right */
.modal > footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-1);
  justify-content: flex-end;
  position: sticky;
  z-index: 3;
}

// #endregion

/* -----------------------------------------------------------------------------
 * LOWER UI LOCK
 * -------------------------------------------------------------------------- */
// #region

/* Disable scroll on the html root when the modal is open */
html:has(dialog[open]),
body:has(dialog[open]) {
  overflow: hidden;

  .modal {
    pointer-events: auto;
    touch-action: auto;
  }

  .header {
    opacity: 0;
    padding-inline-end: var(--scroll-width, rem(11));
  }
}

// #endregion
