-
  const site = {
    lang: 'ru',
    title: {
      ru: '_Project',
      en: '_Project',
    },
    shortName: '_Project',
    desc: {
      ru: '_project tagline ru',
      en: '_project tagline en',
    },
    url: "https://www._project.tld",
    slag: "_project",
    theme: '/assets/',
    cover: '/assets/images/cover.png',
    color: '#f00',
    fonts: {
      google: 'Inter:wght@300;400;600',
    },
    social: {
      facebook: '_project'
    }
  }

- const now = new Date();
- const currentYear = now.getFullYear();
- const timestamp = now.getTime();
