-
  const site = {
    lang: 'en',
    shortname: {
      en: 'PlayPhrase.me',
    },
    title: {
      en: 'PlayPhrase.me: Site for cinema archaeologists',
    },
    desc: {
      en: 'Travel and explore the world of cinema. Largest collection of video quotes from movies on the web. "',
    },
    url: "https://www.playphrase.me/",
    theme: '/assets/',
    img: '/assets/images/cover.png',
    fonts: {
      google: 'Inter:wght@300;400;600',
    },
    social: false
  }

- const now = new Date();
- const currentYear = now.getFullYear();
- const timestamp = now.getTime();
