@use '../../styles/abstracts' as *;

.header {
  background-color: color-mix(in hsl, var(--color-bg-base) 64%, transparent);
  backdrop-filter: var(--backdrop-filter-elevated);
  text-align: center;
  opacity: 1;
  position: fixed;
  transition:
    opacity var(--duration-lg) var(--easing-base),
    padding-inline-end var(--duration-md) var(--easing-base);
  width: 100%;
  z-index: var(--zindex-fixed);
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: rem(96);
}

.logo img {
  @media (--phone) {
    width: rem(120);
  }
}
// #endregion

