@use '../../styles/abstracts' as *;

// -----------------------------------------------------------------------------
// BASE STYLES
// -----------------------------------------------------------------------------
// #region

.header > .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-base);
  position: relative;
  z-index: var(--zindex-fixed);

  @media (--tablet) {
    justify-content: center;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// SEARCH
// -----------------------------------------------------------------------------
// #region

.header__search-trigger {
  background-color: transparent;
  flex-shrink: 0;
  margin-right: var(--size-2);
  padding: var(--size-1);

  @media (--tablet) {
    display: none;
  }
}

.header__search {
  background-color: var(--color-bg-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-2);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity var(--duration-sm), transform var(--duration-sm);
  height: var(--size-3);
  z-index: var(--zindex-fixed);

  &.is-open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

.header__search p {
  padding-bottom: 0;
  flex-grow: 1;
}

.header__search [type='search'] {
  padding-right: var(--size-7);
  min-width: 100%;
}

.header__search-submit,
.header__search-cancel {
  height: var(--size-6);
  background: transparent;
}

.header__search-submit {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: var(--size-6);
}

.header__search-cancel {
  color: var(--color-ink-2ry);
  margin-left: var(--size-1);

  @media (--tablet) {
    display: none;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// NAVBAR
// -----------------------------------------------------------------------------
// #region

@mixin adaptive-menu {
  display: flex;
  flex-wrap: wrap;
}

.header__navbar {
  @include adaptive-menu;
  justify-content: center;
  padding: 0 var(--size-1);

  @media (--tablet) {
    align-items: center;
    padding-left: 0;
    position: static;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// SIGN IN / SIGN UP / USER MENU
// -----------------------------------------------------------------------------
// #region

.header__sign-up,
.header__sign-in {
  align-items: center;
  padding: 0;
  height: var(--size-2);

  > .btn.is-outline {
    margin-right: var(--size-1);
    max-width: var(--size-10);

    @media (--phone) {
      padding: var(--size-1);
      height: var(--size-2);
    }

    @media (--phone-l) {
      max-width: var(--size-7);
    }
  }
}

.header__sign-up {
  @media (--tablet) {
    margin-left: var(--size-1);
  }
}

.header__user {
  margin-right: var(--size-1);
  padding: 0;

  @media (--phone) {
    position: static;
  }
}
// #endregion
