header.header
  .container
    a.logo(href="https://www.playphrase.me/")
      img(src='/assets/img/components/header/logo.png' srcset='/assets/img/components/header/logo.png, /assets/img/components/header/logo@2x.png 2x' alt='PlayPhrase.me logo')

    a.btn.is-outline(href="https://www.playphrase.me/#/search?q=Hola+Amigos&language=es") Get Started
