@use 'sass:math';
@use '../../styles/abstracts' as *;

// -----------------------------------------------------------------------------
// BASE STYLES
// -----------------------------------------------------------------------------
// #region

.navbar {
  --menu-height-phone: calc(var(--size-5) * 2);

  background-color: var(--color-bg-base);
  backdrop-filter: var(--backdrop-filter-elevated);
  box-shadow: 0 -1px 0 var(--color-border);
  display: flex;
  padding: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: var(--navbar-height);
  z-index: var(--zindex-fixed);

  @media (--tablet) {
    background-color: var(--color-bg-2ry);
    backdrop-filter: none;
    border-right: var(--border-width) solid var(--color-border);
    box-shadow: none;
    align-items: flex-start;
    flex-direction: column;
    padding: var(--padding-alt);
    top: 0;
    right: auto;
    width: var(--navbar-width-tablet);
    height: 100vh;

    @media (--phone) {
      overflow: auto;
      scrollbar-gutter: stable;
    }
  }

  @media (--laptop) {
    padding: var(--padding-laptop);
    width: var(--navbar-width-laptop);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// LOGO
// -----------------------------------------------------------------------------
// #region

.navbar__logo {
  display: none;

  @media (--tablet) {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    margin-bottom: var(--margin-bottom-tablet);
  }

  @media (--tablet-only) {
    text-align: center;
    padding: var(--padding-logo);
  }

  @media (--laptop) {
    flex-direction: row;
    align-items: center;
  }
}

.navbar__logo img {
  @media (--tablet-only) {
    margin: auto;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------
// #region

.navbar > .menu {
  display: flex;
  padding: 0;

  @media (--phone) {
    align-items: stretch;
    height: var(--menu-height-phone);
  }

  @media (--tablet) {
    flex: 1;
    flex-direction: column;
    height: auto;
  }
}

.navbar__menu li {
  padding: 0;
}

.navbar__menu > li {
  @media (--phone) {
    width: clamp(80px, 25%, 168px);
  }
}

.navbar__menu .menu__link {
  padding: var(--padding-menu-item);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: var(--menu-item-height);

  @media (--tablet-only) {
    border-radius: var(--border-radius);
    height: var(--menu-item-height-tablet);
  }

  @media (--laptop) {
    padding: var(--padding-menu-item-laptop);
    flex-direction: row;
    justify-content: flex-start;
    height: var(--menu-item-height-laptop);
  }
}

.navbar__menu .menu__link > .label {
  @include label(false);
  @include text-truncate;

  color: var(--color-ink);
  max-width: 100%;

  @media (--laptop) {
    text-transform: uppercase;
  }
}

.navbar__menu .menu__link > .icon {
  display: block;
  margin: 0 auto var(--size-half);

  @media (--laptop) {
    margin: 0 var(--size-1) 0 0;
  }
}

.navbar__menu .menu__link > .badge {
  @media (--laptop-down) {
    position: absolute;
    top: var(--size-half);
    left: calc(50% + var(--size-half));
  }

  @media (--phone) {
    top: calc(var(--size-1p5) * -1);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// POPOVER
// -----------------------------------------------------------------------------
// #region

.navbar .is-more summary {
  cursor: pointer;

  @include menu-item;

  @media (--tablet-only) {
    border-radius: var(--border-radius);
  }
}

:where(.navbar .is-more [open]) summary {
  background-color: var(--color-bg-popover);
}

.navbar .is-more summary::after {
  @media (--laptop-down) {
    display: none;
  }

  @media (--laptop) {
    margin-left: auto;
    rotate: -90deg;
  }
}

.navbar .is-more .popover__body {
  bottom: 100%;
  right: 2px;

  @media (--tablet) {
    bottom: 0;
    right: auto;
    left: 100%;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------
// #region

.navbar__footer {
  @media (--phone) {
    display: none;
  }

  @media (--tablet) {
    margin: auto;
    width: calc(100% - var(--size-2));
  }

  @media (--laptop) {
    width: 100%;
  }
}
// #endregion
