@use '../styles/abstracts' as *;

// Container with horizontal scroll for wide elements (tables, galleries, etc.)
.scroller {
  --scroller-shadow:
    hsl(var(--color-ink-shadow) / 0.15),
    hsl(var(--color-ink-shadow) / 0.13) 3%,
    hsl(var(--color-ink-shadow) / 0.11) 11%,
    hsl(var(--color-ink-shadow) / 0.09) 23%,
    hsl(var(--color-ink-shadow) / 0.05) 38%,
    hsl(var(--color-ink-shadow) / 0.03) 57%,
    hsl(var(--color-ink-shadow) / 0.01) 78%,
    hsl(var(--color-ink-shadow) / 0);
  --scroller-content-bg: var(--color-bg-base);

  background:
    linear-gradient(90deg, var(--scroller-content-bg) 50%, transparent) 0 0,
    linear-gradient(90deg, transparent, var(--scroller-content-bg) 50%) 100% 0,
    linear-gradient(90deg, var(--scroller-shadow)) 0 0,
    linear-gradient(270deg, var(--scroller-shadow)) 100% 0,
    var(--scroller-content-bg);

  background-attachment: local, local, scroll, scroll;
  background-repeat: no-repeat;
  background-size: 24px 100%, 24px 100%, 12px 100%, 12px 100%;

  border: 1px solid var(--color-ink-border);
  display: block;
   // Adjusted margin for border
  margin: -1px 0 0;
  padding: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: 100%;

  &:focus-visible {
    @include state-focus;
  }
}
