@use '../abstracts' as *;

/* -----------------------------------------------------------------------------
 * BASE STYLES FOR HEADINGS
 * -------------------------------------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: var(--size-2);
}

/* -----------------------------------------------------------------------------
 * H1
 * -------------------------------------------------------------------------- */
h1,
.h1 {
  @include text-format(title);
  font-weight: var(--font-weight-h1, bold);
  letter-spacing: var(--letter-spacing-h1, normal);
}

/* -----------------------------------------------------------------------------
 * H2
 * -------------------------------------------------------------------------- */
h2,
.h2 {
  @include text-format(h2);
  font-weight: var(--font-weight-h2, bold);
  letter-spacing: var(--letter-spacing-h2, normal);
}

/* -----------------------------------------------------------------------------
 * H3
 * -------------------------------------------------------------------------- */
h3,
.h3 {
  @include text-format(big);
  font-weight: var(--font-weight-h3, bold);
}

/* -----------------------------------------------------------------------------
 * H4, H5, H6
 * -------------------------------------------------------------------------- */
h4,
.h4,
h5,
h6 {
  @include text-format(base);
  font-weight: var(--font-weight-h4, bold);
}

/* -----------------------------------------------------------------------------
 * ADDITIONAL STYLES
 * -------------------------------------------------------------------------- */

:where(address, blockquote, div, dl, figure, form, ol, p, pre, table, ul)
  + :is(h2, h3, h4, h5, h6) {
  margin-top: var(--margin-top-subhead, var(--size-line));
}
