@use '../../styles/abstracts' as *;

table {
  --table-border-color: var(--color-ink-border);
  --table-border-width: var(--border-width);
  --cell-padding-x: var(--size-2);
  --cell-padding-y: var(--size-1p5);

  border-collapse: collapse;
  border-spacing: 0;
  font-feature-settings: 'lnum' 1, 'tnum' 1;
  font-variant-numeric: lining-nums tabular-nums;
  text-indent: 0;
  margin-top: var(--size-line);
  margin-bottom: var(--size-line);
  width: 100%;
}

caption {
  font-weight: 700;
  text-align: left;
  padding-top: var(--padding-top-base);
  padding-bottom: var(--padding-bottom-base);
}

th,
td {
  border-top: var(--table-border-width) solid var(--table-border-color);
  text-align: left;
  padding: calc(var(--cell-padding-y) - 1px) var(--cell-padding-x) var(--cell-padding-y);
  vertical-align: top;
}

thead th {
  border-top: 0;
  color: var(--color-ink-2ry);
  position: relative;
  padding-top: var(--cell-padding-y);
  vertical-align: bottom;

  &[colspan] {
    text-align: center;
  }
}

tfoot th,
tfoot td {
  border-bottom: 0;
}

.scroller {
  table {
    margin: 0;
    width: auto;
    max-width: none;
    min-width: 100%;
  }

  td,
  th {
    scroll-snap-align: start;
  }
}
