// -----------------------------------------------------------------------------
// ESSENTIALS
// -----------------------------------------------------------------------------
// #region

@use 'sass:meta';
@use 'styles/abstracts' as *;
@use 'styles/abstracts/custom';
@use 'styles/fonts';
@use 'styles/variables';
@use 'styles/theme-dark';

// Uncomment everything else needed
// @use 'styles/theme-light';

@layer base, components, pages, helpers, print;

@layer base {
  @include meta.load-css('styles/reset');
  @include meta.load-css('styles/doc');
  @include meta.load-css('styles/content/headings');
  @include meta.load-css('styles/content/copy');
  @include meta.load-css('styles/content/media');
  @include meta.load-css('components/icon/icon');
  @include meta.load-css('components/button/button');
  @include meta.load-css('components/form/form');
  @include meta.load-css('styles/layout/containers');
}

@layer components {
  @include meta.load-css('components/header/header');
  @include meta.load-css('components/footer/footer');
  @include meta.load-css('components/modal/modal');
}

@layer helpers {
  @include meta.load-css('styles/helpers/accessibility');
}

@layer print {
  @include meta.load-css('styles/print');
}
// #endregion

@layer pages {

  // MAIN
  // #region
  main.main {
    position: relative;

    @media (--tablet) {
      &::before,
      .progress {
        content: '';
        position: absolute;
        top: 56vh;
        left: calc(20% - 1px);
        width: 0;
      }

      &::before {
        border-left: rem(2) dashed var(--color-ink-border);
        bottom: calc(50vh + 128px);
      }

      .progress {
        border-left: rem(2) solid var(--color-brand-primary);
        height: rem(50);
      }
    }

    @media (--tablet-l) {
      &::before,
      .progress {
        left: calc(31.8vw - 1px);
      }
    }

    @media (--laptop) {
      &::before,
      .progress {
        left: calc(50% - 37px);
      }
    }

  }
  // #endregion

  // CEFR
  // #region

  .cefr {
    position: absolute;
    top: rem(320);
    left: 0;
    width: auto;
    height: auto;
    z-index: -1;

    @media (--tablet) {
      top: rem(40);
    }
  }

  .cefr img {
    will-change: transform;
  }
  // #endregion

  // HERO
  // #region
  .hero,
  .section {
    display: flex;
    align-items: center;
    padding-block: 0 var(--size-6);
    min-height: 100vh;

    .container {
      @media (--tablet) {
        @include grid-base;
      }
    }

    @media (--phone) {
      margin-bottom: calc(var(--size-line) * 3);
    }
  }

  .hero {
    @media (--phone) {
      padding-top: calc(var(--size-line) * 5);
    }
  }

  .hero .container {
    @media (--tablet) {
      --columns: 1fr 4fr;
      --gap: var(--size-3);
    }

    @media (--tablet-l) {
      --columns: 1fr 2fr;
    }

    @media (--laptop) {
      --columns: 1fr 1fr;
    }
  }

  .hero__base {
    position: relative;

    @media (--tablet) {
      grid-column-start:2;
    }
  }

  .hero h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    background:
      linear-gradient(
        to bottom right, hsl(var(--h) var(--s) 99%), var(--color-brand-primary)
      );
    background-clip: text;
  }
  // #endregion

  // SECTION BASE
  // #region
  .section {
    position: relative;

    .container {
      @media (--tablet) {
        --columns: 1fr 4fr;
        --gap: var(--size-3);
      }

      @media (--tablet-l) {
        --columns: 1fr 2fr;
      }

      @media (--laptop) {
        --columns: 1fr 1fr;
      }
    }

    .section__base {
      display: flex;
      flex-direction: column;
      position: relative;

      @media (--tablet) {
        grid-column-start:2;
      }
    }
  }

  .timeline-dot {
    background: hsl(var(--h) var(--sn) 40%);
    border: var(--size-1) solid var(--color-bg-2ry);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(var(--size-8) * -1);
    translate: 0 (-50%);
    transition: all var(--duration-lg) var(--easing-bounce) var(--duration-md);
    width: var(--size-4);
    height: var(--size-4);

    &.is-active,
    .is-animated & {
      background: var(--color-brand-primary);
      left: calc(rem(72) * -1);
      width: var(--size-6);
      height: var(--size-6);
    }


  }

  .brand-motif {
    position: relative;

    &:before {
      background: url('/assets/img/motif/dots.svg') no-repeat 0 0;
      content: '';
      position: absolute;
      bottom: var(--size-4);
      left: var(--size-2);
      width: rem(84);
      height: rem(84);
      z-index: -1;
    }

    @media (--phone) {
      width: var(--size-7);
    }
  }

  .brand-motif.is-alt {
    align-self: flex-end;

    &:before {
      right: var(--size-2);
      left: auto;
    }
  }

  .section__image img {
    will-change: translate;
  }
  // #endregion

  // SECTION SPECIFIC
  // #region

  .is-intro .section__image {
    @media (--tablet) {
      grid-column-start:2;
    }

    @media (--tablet-l) {
      grid-column-start: unset;
      position: absolute;
      top: 80%;
      left: -200px;
      width: min(40vw, 1438px);
    }

    @media (--laptop) {
      right: 57%;
      left: auto;
    }
  }

  .is-playphrase-way .section__image {
    @media (--tablet) {
      position: absolute;
      top: 72%;
      left: -320px;
    }

    @media (--tablet-l) {
      left: -200px;
    }

    @media (--laptop) {
      left: 0;
    }
  }
  // #endregion

  // SEARCH
  // #region
  .form.is-search {
    display: flex;
    margin-inline: auto;
    padding-inline: var(--size-2p5);
    padding-bottom: var(--size-6);
    max-width: rem(620);

    label {
      @include visually-hidden;
    }

    .btn {
      --height-btn: var(--size-6);

      border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
    }
  }

  [id='form-search-input'] {
    border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
    padding-inline: var(--size-2p5);

    @media (pointer: fine) {
      &::-webkit-search-cancel-button {
        display: none;
      }
    }
  }
  // #endregion

  // MODAL CONTENT
  // #region
  .manual__screen {
    padding-inline: var(--size-2);
    max-width: 100%;

    @media (--tablet) {
      flex: min(calc(50% - var(--size-2)), 407px);
    }
  }

  .manual__screen.is-double {
    img {
      border-radius: var(--border-radius-base);
    }
    @media (--tablet) {
      flex: none;
    }
  }

  .manual__screen.is-top {
    border-bottom: 1px solid var(--color-ink-border);
  }

  .manual__screen.is-bottom {
    border-top: 1px solid var(--color-ink-border);
  }

  .manual__screen.is-middle {
    border-top: 1px solid var(--color-ink-border);
    border-bottom: 1px solid var(--color-ink-border);
  }
  // #endregion

  // .section, .hero, .footer {
  //   scroll-snap-align: start;
  // }

  // html {
  //   scroll-snap-type: y mandatory;
  // }
}

